;; This Source Code Form is subject to the terms of the MIT license.
;; If a copy of the MIT license was not distributed with this
;; file, You can obtain one at https://opensource.org/licenses/MIT

{{=<< >>=}}
{:skip-comments
 true

 :linters
 {:unsorted-required-namespaces
  {:level :warning}

  :unresolved-symbol
  {:exclude [(<<project.name>>.api.util.responses/http-statuses)]}

  :unresolved-var
  {:exclude [<<project.name>>.api.util.responses]}

  :refer-all
  {:exclude #{clojure.test}}

  :single-key-in
  {:level :warning}

  :used-underscored-binding
  {:level :warning}

  :redundant-fn-wrapper
  {:level :warning}}}
