{{=<< >>=}}
{:duct.profile/base
 {:duct.core/project-ns <<project.name>>

  <<#profiles.config-edn.base>><<&.>><</profiles.config-edn.base>>

 }
 :duct.profile/dev #duct/include "dev.edn"
 :duct.profile/local #duct/include "local.edn"
 :duct.profile/prod {}}
