{:paths ["src" "resources"]
 :min-bb-version "0.4.0"
 :deps {metosin/malli {:mvn/version "0.8.9"}
        org.babashka/cli {:mvn/version "0.4.38"}
        com.cognitect.aws/elasticbeanstalk {:mvn/version "821.2.1107.0"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.307"}
        com.cognitect.aws/ssm {:mvn/version "823.2.1216.0"}
        com.cognitect.aws/cloudformation {:mvn/version "822.2.1171.0"}
        com.grzm/awyeah-api {:git/url "https://github.com/grzm/awyeah-api"
                             :git/sha "0fa7dd51f801dba615e317651efda8c597465af6"}
        org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                 :git/sha "433b0778e2c32f4bb5d0b48e5a33520bee28b906"}
        com.cognitect.aws/s3 {:mvn/version "822.2.1145.0"}
        com.cognitect.aws/sts {:mvn/version "822.2.1145.0"}
        com.cognitect.aws/cognito-idp {:mvn/version "822.2.1145.0"}
        com.cognitect.aws/acm {:mvn/version "825.2.1233.0"}
        coop.magnet/cljstache {:mvn/version "2.0.7-SNAPSHOT"}
        zprint/zprint {:mvn/version "1.2.4"}
        cljfmt/cljfmt {:mvn/version "0.9.0"}
        meta-merge/meta-merge {:mvn/version "1.0.0"}}
 :tasks {cli {:doc "HOP CLI"
              :requires ([hop-cli.main :as cli])
              :task (apply cli/-main *command-line-args*)}}}
