{{=<< >>=}}
{:duct.profile/base
 {:duct.core/project-ns <<project.name>>

  :duct.server.http/jetty {:handler #ig/ref :<<project.name>>.api/main}

  :<<project.name>>.api/main {:routes [#ig/ref :<<project.name>>.api/config
                                       <<#profiles.config-edn.routes>><<&.>><</profiles.config-edn.routes>>]}

  :<<project.name>>.api/config
  {<<#profiles.config-edn.config>><<&.>><</profiles.config-edn.config>>}

  :<<project.name>>/common-config
  {<<#profiles.config-edn.common-config>><<&.>><</profiles.config-edn.common-config>>}

  <<#profiles.config-edn.base>><<&.>><</profiles.config-edn.base>>}

 :duct.profile/dev #duct/include "dev.edn"
 :duct.profile/local #duct/include "local.edn"
 :duct.profile/prod {}}
