{{=<< >>=}}
{:duct.profile/base
 {:duct.core/project-ns <<project.name>>

  :duct.server.http/jetty {:handler #ig/ref :<<project.name>>.api/main}

  :<<project.name>>.api/main {:routes [#ig/ref :<<project.name>>.api/config
                                       <<#project.config-edn.routes>><<&.>><</project.config-edn.routes>>]}

  :<<project.name>>.api/config
  {<<#project.config-edn.config>><<&.>><</project.config-edn.config>>}

  [:duct/const :<<project.name>>/common-config]
  {<<#project.config-edn.common-config>><<&.>><</project.config-edn.common-config>>}

  <<#project.config-edn.base>><<&.>><</project.config-edn.base>>}

 :duct.profile/dev #duct/include "dev.edn"
 :duct.profile/local #duct/include "local.edn"
 :duct.profile/prod {}

 :duct.module/logging {}
 :duct.module.web/site {}

 <<#project.config-edn.modules>><<&.>><</project.config-edn.modules>>}
