{{=<< >>=}}
{:duct.profile/base
 {:duct.core/project-ns <<project.name>>

  :duct.server.http/jetty {:handler #ig/ref :<<project.name>>.api/main}

  :<<project.name>>.api/main {:routes [#ig/ref :<<project.name>>.api/config
                                       <<#project.profiles.config-edn.routes>><<&.>><</project.profiles.config-edn.routes>>]}

  :<<project.name>>.api/config
  {
   <<#project.profiles.config-edn.config>><<&.>><</project.profiles.config-edn.config>>}

  :<<project.name>>/common-config
  {
   <<#project.profiles.config-edn.common-config>><<&.>><</project.profiles.config-edn.common-config>>}

  <<#project.profiles.config-edn.base>><<&.>><</project.profiles.config-edn.base>>}

 :duct.profile/dev #duct/include "dev.edn"
 :duct.profile/local #duct/include "local.edn"
 :duct.profile/prod {}

 <<#project.profiles.config-edn.modules>><<&.>><</project.profiles.config-edn.modules>>}
