[Unit]
Description={{project.name}} Application server
After=network.target nss-lookup.target

[Service]
Environment="PERSISTENT_DATA_DIR={{project.profiles.on-premises.operating-system.persistent-data-dir}}"
User={{project.name}}
Group={{project.name}}
SupplementaryGroups=docker
WorkingDirectory=/usr/local/hop/{{project.name}}/
Type=simple
ExecStart=/usr/local/hop/{{project.name}}/bin/app-with-healthchecks.sh start
ExecStop=/usr/local/hop/{{project.name}}/bin/app-with-healthchecks.sh stop
KillMode=mixed
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
