;; This Source Code Form is subject to the terms of the Mozilla Public
;; License, v. 2.0. If a copy of the MPL was not distributed with this
;; file, You can obtain one at http://mozilla.org/MPL/2.0/

{{=<< >>=}}
{[:duct.migrator/ragtime :<<project.name>>/dev]
 {:database #ig/ref :duct.database/sql
  :logger #ig/ref :duct/logger
  :strategy :raise-error
  :migrations-table "ragtime_migrations_dev"
  :fake-dependency-to-force-initialization-order
  #ig/ref [:duct.migrator/ragtime :<<project.name>>/to-deploy]
  :migrations [#ig/ref :<<project.name>>.migration.dev/_dev-000-first-dev-migration]}

 [:duct.migrator.ragtime/sql :<<project.name>>.migration.dev/_dev-000-first-dev-migration]
 {:up [#duct/resource "<<project.files-name>>/migrations/dev-000-first-dev-migration.up.sql"]}}
