files:
  "/opt/aws/amazon-cloudwatch-agent/etc/biotz-config.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "metrics": {
          "append_dimensions": {
            "InstanceId": "${aws:InstanceId}"
          },
          "metrics_collected": {
            "cpu": {
              "totalcpu": true,
              "measurement": [
                "cpu_usage_active",
                "cpu_usage_idle",
                "cpu_usage_iowait"
              ]
            },
            "mem": {
              "measurement": [
                "mem_total",
                "mem_used",
                "mem_used_percent",
                "mem_available",
                "mem_available_percent"
              ]
            },
            "disk": {
              "measurement": [
                "disk_total",
                "disk_used",
                "disk_used_percent"
              ]
            }
          }
        }
      }
container_commands:
  apply_config_metrics:
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/etc/biotz-config.json
