CREATE ROLE "${APP_DB_USER}" WITH LOGIN PASSWORD '${APP_DB_PASSWORD}';
GRANT "${APP_DB_USER}" TO "${DB_ADMIN_USER}";
CREATE SCHEMA IF NOT EXISTS "${APP_DB_SCHEMA}" AUTHORIZATION "${APP_DB_USER}";
ALTER ROLE "${APP_DB_USER}" SET search_path TO "${APP_DB_SCHEMA}";
