CREATE ROLE "${GF_DATABASE_USER}" WITH LOGIN PASSWORD '${GF_DATABASE_PASSWORD}';
GRANT "${GF_DATABASE_USER}" TO "${DB_ADMIN_USER}";
CREATE SCHEMA IF NOT EXISTS "${GF_DATABASE_SCHEMA}" AUTHORIZATION "${GF_DATABASE_USER}";
ALTER ROLE "${GF_DATABASE_USER}" SET search_path TO "${GF_DATABASE_SCHEMA}";
