CREATE ROLE "${KC_DB_USERNAME}" WITH LOGIN PASSWORD '${KC_DB_PASSWORD}';
GRANT "${KC_DB_USERNAME}" TO "${DB_ADMIN_USER}";
CREATE SCHEMA IF NOT EXISTS "${KC_DB_SCHEMA}" AUTHORIZATION "${KC_DB_USERNAME}";
ALTER ROLE "${KC_DB_USERNAME}" SET search_path TO "${KC_DB_SCHEMA}";
