body {
    font-family: Arial, sans-serif;
    font-size: 11pt;
}

.login-pf body {
    background: url('../img/background.jpg');
    background-size: cover;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.login-pf-page {
    width: 45%;
    max-width: 45%;
    height: 100%;
    background-color: #fff;
    box-shadow: 1px 0 20px 5px rgba(27, 27, 27, 0.5);
}

.login-pf-page .card-pf {
    padding-left: 12%;
    top: 0px;
    left: 0px;
}

.card-pf {
    margin: 0px;
    height: 100%;
    max-width: 100%;
    background-color: #fff;
}

#kc-header {
    height: 120px;
}

#kc-header-wrapper {
  text-align: left;
  padding: 25px 12%;
}

#kc-header-wrapper img {
  width: 100px;
}

#realm-logo {
    display: block;
    background: url('../img/realm-logo.png') no-repeat;
    background-size: cover;
}

#kc-page-title {
  color: #bf0411;
}

.btn {
    box-shadow: none;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 12em;
}

.form-control {
  width: 100%;
  height: 26px;
  padding: 2px 6px;
  font-size: 12pt;
  line-height: 1.666667;
  color: #363636;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bbb;
  border-radius: 1px;
  box-shadow: none;
}

.form-control:focus {
  border-color: #0088ce;
  outline: 0;
  box-shadow: none;
}

.btn-primary,
.btn-primary:hover {
    margin-top: 0px;
    border-radius: 2px;
    border-color: #bf0411;
    background-color: #bf0411;
    background-image: none;
    background-repeat: unset;
    color: #fff;
    font-weight: 700;
}

a,
a:hover,
a:focus,
.login-pf a:hover {
    color: #bf0411;
    font-size: 10pt;
    text-decoration: underline;
}

.login-pf-page .login-pf-page-header {
  margin-bottom: 0px;
  align-items: flex-start;
}

.login-pf-page .login-pf-header h1 {
    font-size: 11pt;
    text-align: left;
}

a#kc-current-locale-link {
    text-decoration: none;
    font-size: 11pt;
}

#kc-locale {
  position: relative;
  top: -110px;
  right: 0px;
  text-align: right;
  align-self: flex-end;
}

#kc-locale ul {
    padding: 0px;
    margin: 0px;
}

#kc-locale ul li {
    text-align: left;
}

#kc-locale ul li a,
#kc-locale-dropdown a {
    color: #bf0411 !important;
}

#kc-locale ul {
    border: solid 1px #bf0411;
}

#kc-locale ul li a:hover {
    color: #ffffff !important;
    background-color: #bf0411;
}

#kc-content {
    width: 100%;
    max-width: 30em;
}

@media (max-width: 768px) {
  .login-pf-page {
    width: 100%;
    max-width: 100%;
  }
  #kc-locale {
    top: -90px;
  }
  #kc-content {
    max-width: 100%;
  }
  .login-pf-page .card-pf {
    padding: 0 12%;
  }
}
