;; This Source Code Form is subject to the terms of the Mozilla Public
;; License, v. 2.0. If a copy of the MPL was not distributed with this
;; file, You can obtain one at http://mozilla.org/MPL/2.0/

{{=<< >>=}}
{:duct.profile/base #duct/include "<<project.files-name>>/profiles/base.edn"
 :duct.profile.base/api #duct/include "<<project.files-name>>/profiles/base.api.edn"<<#project.profiles.persistence-sql.enabled>>
 :duct.profile.base/migrations #duct/include "<<project.files-name>>/profiles/base.migrations.edn"<</project.profiles.persistence-sql.enabled>>

 :duct.profile/dev #duct/include "dev.edn"
 :duct.profile/local #duct/include "local.edn"
 :duct.profile/prod {}

 :duct.module/logging {}

 <<#project.config-edn.modules>><<&.>><</project.config-edn.modules>>}
